{
    admin off
    auto_https off
}

:8080 {
    basicauth {
        stack $2b$14$rOr5sMvCFwjQNp1tdRUZA.2uwa5Ae1PJYVhvKsqGYwWt87E79JjBO
    }

    reverse_proxy localhost:3000

    encode gzip zstd

    log {
        output stdout
        format console
        level INFO
    }
}
